* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.svg-container {
  display: block;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.svg-container path {
  /* fill: gray; */
  stroke: black;
  stroke-width: 1px;
  stroke-opacity: 0.2;
}

.info-box {
  display: none;
  position: absolute;
}

.info-box li {
  list-style: none;
  padding: 1px;
  color: white;
  text-align: left;
}

.info-box ul {
  position: relative;
  background: rgba(0, 0, 0, 0.9);
  width: 200px;
  border-radius: 5%;
  border: 1px solid green;
  margin: 0 auto;
  padding: 5px;
  z-index: 2;
}

.info-box ul::after {
  content: "";
  background: transparent;
  position: absolute;
  margin-left: -5px;

  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid rgba(0, 0, 0, 0.9);

  top: 100%;
  left: 50%;
}

path:hover {
  fill: cyan;
  cursor: crosshair;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center; /* vertical center */
  align-items: center; /* horizontal center */
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  /* position: fixed; */
}

button {
  padding: 5px;
  width: 30px;
  font-weight: bold;
  font-size: 1em;
  color: black;
}
