* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.svg-container {
  display: block;
  width: 80%;
  height: 75%;

  /* border: 1px dashed black; */
  background: rgba(0, 0, 0, 0.2);
  padding: 0;

  position: absolute;
  top: 20%;
  left: 10%;
}

.svg-container path {
  /* fill: gray; */
  stroke: black;
  stroke-width: 1px;
  stroke-opacity: 0.2;
}

.global-info:not(#update-time) {
  width: 80%;
  height: 20%;

  background: rgba(0, 0, 0, 0.6);
  color: white;

  position: absolute;
  top: 0;
  left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.global-info p {
  padding: 10px 3px;
  background: white;
  color: black;
  font-weight: bold;
  border: 1px solid black;
  margin: 3px 50px;
  border-radius: 15px 0 15px 0;
}

.global-info #update-time {
  position: absolute;
  bottom: 2px;
  text-align: center;
  width: 100%;
}

.global-info span {
  font-weight: normal;
}

#total p {
  background: rgb(236, 112, 99);
}

#new p {
  background: rgb(88, 214, 141);
}

#active-critical p {
  background: rgb(93, 173, 226);
}

#population p {
  background: rgb(235, 152, 78);
}

.info-box {
  display: none;
  position: absolute;
}

.info-box li {
  list-style: none;
  padding: 1px;
  color: white;
  text-align: left;
}

.info-box ul {
  position: relative;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 5%;
  border: 1px solid green;
  margin: 0 auto;
  padding: 5px;
  z-index: 3;
}

.info-box ul::after {
  content: "";
  background: transparent;
  position: absolute;
  margin-left: -5px;

  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid rgba(0, 0, 0, 0.9);

  top: 100%;
  left: 50%;
}

path:hover {
  fill: cyan;
  cursor: crosshair;
}

.buttons {
  display: block;
  text-align: center;
  position: absolute;
  top: 25%;
  right: 2.5%;
  z-index: 2;
  float: left;
  position: absolute;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 25px;
  padding: 10px;
}

.buttons label {
  color: cyan;
}

/* .move {
  visibility: hidden;
} */

button {
  padding: 5px;
  width: 30px;
  font-weight: bold;
  font-size: 1em;
  color: black;
  border: 1px solid black;
  border-radius: 15%;
  margin: 1px;
}

.options {
  position: absolute;
  top: 5px;
  right: 13.5%;
  z-index: 2;
}

.options label {
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.options input {
  cursor: pointer;
  margin: 5px 0;
}

.user-control {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10%;
  right: 18%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 16px;
  margin: 3px 0;
}

/* origin checkbox */
.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  transition: all 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch p {
  color: white;
  position: absolute;
  top: 0;
  left: 120%;
  font-size: 1rem;
  padding: 0;
  width: 150px;
  font-weight: bold;
}

.continents {
  position: absolute;
  top: 3%;
  left: 11%;
}

.continents label {
  margin: 0;
  padding: 5px;
  letter-spacing: 1px;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
}

#colorbar {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  right: 4.5%;
  text-align: center;
  font-size: 0.9rem;
  color: black;
}

#colorbar div {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: relative;
}

#colorbar p {
  position: absolute;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.graphs {
  display: flex;
  justify-content: safe;
  align-content: center;
  flex-direction: row;
  width: 80%;
  padding: 20px;
  position: absolute;
  top: 95%;
  left: 10%;
  border: none;
  background: rgba(0, 0, 0, 0.6);
}

.graphs #local_graph {
  margin: 0 5px 0 0;
}

.graphs #global_graph {
  margin: 0 0 0 5px;
}
