* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.svg_container {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.svg_container path {
  fill: gray;
  stroke: blue;
  stroke-width: 3px;
  stroke-opacity: 0.5;
}

.info-box {
  display: none;
  position: absolute;
}

.info-box li {
  list-style: none;
  padding: 5px;
  color: white;
  text-align: left;
}

.info-box ul {
  position: relative;
  background: rgba(0, 0, 0, 0.9);
  width: 200px;
  border-radius: 5%;
  border: 1px solid green;
  margin: 0 auto;
}

.info-box ul::after {
  content: "";
  background: transparent;
  position: absolute;
  margin-left: -5px;

  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid rgba(0, 0, 0, 0.9);

  top: 100%;
  left: 50%;
}

.svg_container path:hover {
  fill: yellow;
  cursor: crosshair;
}
